<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Bank Account</title>
</head>
<body>
<h1>Bank Account details</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th class="right-justified">Balance</th>
            <th>Currency</th>
            <th>Animal type</th>
        </tr>
        <tbody>
        </tbody>
        <tr th:object="${bankAccount}">
            <td th:text="*{name}"></td>
            <td class="right-justified" th:text="*{balance}"></td>
            <td th:text="*{currency}"></td>
            <td th:text="*{animalType}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>