<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="th-fragments :: head" />
    <title>Bank Account</title>
</head>
<body>
<div class="container" role="main">
    <div class="page-header">
        <h1>Bank Accounts</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th class="right-justified">Balance</th>
                    <th>Currency</th>
                    <th>Animal type</th>
                    <th>Owner inclination</th>
                    <th>Is king?</th>
                    <th>Command</th>
                </tr>
                <tbody>
                </tbody>
                <tr th:each="bankAccount : ${bankAccounts}" th:object="${bankAccount}" th:class="*{styleClasses}">
                    <td th:text="${bankAccountStat.index}"></td>
                    <td th:text="*{name}"></td>
                    <td class="right-justified" th:text="*{balance}"></td>
                    <td th:text="*{currency}"></td>
                    <td th:text="*{animalType}"></td>
                    <td th:text="*{ownerInclination}"></td>
                    <td><input type="checkbox" class="form-check-input" th:checked="*{king}" disabled /></td>
                    <td>
                        <form action="#" th:action="@{'/show-list/' + ${bankAccountStat.index} + '/raise'}" method="post">
                            <input type="submit" value="Raise" class="btn btn-sm btn-default"/>
                        </form>
                    </td>
                </tr>
                <tr>
                    <form th:object="${newBankAccount}" action="#" th:action="@{'/add-bank-account/'}" method="post">
                        <td></td>
                        <td><input type="text" class="form-control form-control-sm" id="account-name" th:field="*{name}"/></td>
                        <td><input type="text" class="form-control form-control-sm" id="account-balance" th:field="*{balance}"/></td>
                        <td><input type="text" class="form-control form-control-sm" id="account-currency" th:field="*{currency}"/></td>
                        <td><input type="text" class="form-control form-control-sm" id="account-animal-type" th:field="*{animalType}"/></td>
                        <td>
                            <select id="account-owner-inclination" class="form-control form-control-sm" th:field="*{ownerInclination}">
                                <option th:each="option : ${T(com.greenfoxacademy.bankofsimba.models.OwnerInclination).values()}"
                                        th:value="${{option}}" th:text="${option}"></option>
                            </select>
                        </td>
                        <td><input type="checkbox" class="form-check-input" id="account-is-king" th:field="*{king}"/></td>
                        <td><input type="submit" th:value="Add" class="btn btn-sm btn-primary"/></td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>